name: sort_lib

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
      
jobs:
  packaging:
    # only run the packaging if testing passed
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ['3.6','3.9']
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-dev.txt
    - name: Build package
      run: |
        python -m build
        # see that the dist directory contains the wheel
        ls -l dist
    - name: Upload package
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v2
      with:
        name: python-packages
        path: dist
